.product {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  .add-to-card-container {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 20rem;
    margin: 1.9rem auto;
    height: 30rem;
  }
  
