@import "tailwindcss";

body {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2,
h3 {
    color: rgba(85, 179, 31, 0.753);
}

.primary-div {
    background-color: #151920;
}

.dashboard-content {    width: 100%
}